<div fxLayout="column" fxFlex>
  <!-- We list the last 5 saved gists -->
  <div fxFlex="100">
    <div fxFlex="30"> </div>
    <div fxFlex="40">
      <!-- three line densed list -->
      <md-list dense>
        <md-list-item *ngFor="let gist of gists">
          <h3 md-line> <b>{{gist.title}}</b> </h3>
          <p md-line> {{gist.description}} </p>
          <p md-line> {{gist.technologies}} </p>

          <button md-icon-button (click)="show(gist._id)">
            <md-icon class="md-24">visibility</md-icon>
          </button>
        </md-list-item>
      </md-list>
    </div>
    <div fxFlex="30"> </div>
  </div>

  <div [fxLayout]="direction" fxLayoutAlign="center center">
      <button md-fab (click)="addGist()"><md-icon>add</md-icon></button>
  </div>
</div>