<mat-card class="gist-add-width">
  <mat-card-content>
    <div class="gist-add-form">
        <h2 style="text-align: center;">Edit Gist</h2>
        <mat-input-container class="form-full-width">
          <input matInput [(ngModel)]="gist.title" name=title placeholder="Title">
        </mat-input-container>
        <mat-input-container class="form-full-width">
          <input matInput [(ngModel)]="gist.description" name="description" placeholder="Description">
        </mat-input-container>
        <mat-input-container class="form-full-width">
          <input matInput [(ngModel)]="gist.link" name="link" placeholder="Link">
        </mat-input-container>
        <mat-input-container class="form-full-width">
          <input matInput [(ngModel)]="gist.techs" name="technologies" placeholder="Technologies">
        </mat-input-container>

      <div layout="row" layout-align="start center">
          <button mat-button (click)="dialogRef.close()">Cancel</button>
          <button mat-raised-button (click)="editGist()">Edit</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>