<toaster-container></toaster-container>

<div fxLayout="column" fxFlex>
  <mat-toolbar color="primary">
      <span class="middle" routerLink="/" style="cursor: pointer;">{{title}}</span>
      <span class="spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span>About</span>
        </button>
        <button mat-menu-item>
          <span>Contact</span>
        </button>
      </mat-menu>
  </mat-toolbar>

  <!-- intro words -->
  <div class="content" fxFlex>
    <div fxLayout="row">
      <div fxFlex="20"> </div>
      <div fxFlex="60">
        <mat-card fxFlex="100">
          <mat-card-title>The Best Gists Ever Seen</mat-card-title>

          <mat-card-content>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="20"> </div>
    </div>
  </div>

  <router-outlet></router-outlet>

  <!-- The footer -->
  <div class="footer" fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="100"  style="text-align: center !important;">
         <mat-icon style="position: relative !important; top: 8px;">favorite</mat-icon> By <a target="_blank" href="https://www.linkedin.com/in/dassi-orleando-257b04ab/">Dassi Orleando</a>
      </div>
  </div>
</div>