<div fxLayout="column" fxFlex>
  <!-- We list the last 5 saved gists -->
  <div fxFlex="100">
    <div fxFlex="30"> </div>
    <div fxFlex="40">
      <!-- three line densed list -->
      <md-list dense>
        <md-list-item *ngFor="let gist of gists">
          <h3 md-line> <b>{{gist.title}}</b> </h3>
          <p md-line> {{gist.description}} </p>
          <p md-line> {{gist.technologies}} </p>
        </md-list-item>
      </md-list>
    </div>
    <div fxFlex="30"> </div>
  </div>

  <div [fxLayout]="direction" fxLayoutAlign="center center">
    <a md-raised-button routerLink="gists">See Gist List</a>
  </div>
</div>