<mat-card class="gist-show-width">
  <mat-card-content>
    <div class="gist-show-form">
        <p mat-line><b>Title</b>: {{gist.title}} </p>
        <p mat-line><b>Description</b>: {{gist.description}} </p>
        <p mat-line><b>Technologies</b>:  {{gist.technologies}} </p>
        <p mat-line><b>Link</b>: <a [href]="gist.link">{{gist.link}}</a> </p>
              
      <div layout="row" layout-align="start center">
          <button mat-button (click)="deleteGist()"><mat-icon>delete</mat-icon></button>
          <button mat-button (click)="editGist()"><mat-icon>edit</mat-icon></button>
      </div>
    </div>
  </mat-card-content>
</mat-card>